<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 - Scanner</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Covid-19 - Scanner</h1>


    <form action="/dados" method="POST">

        <input type="text" name="nome" placeholder="País"><br>
        <button type="submit">Buscar</button>

    </form>






</body>
</html>